@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}


section {
    min-height: 100vh;
    
}

.landing {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 4px;
    font-weight: 500;
}

.name {
    border: 2px solid #AF0E0E;
    padding: 5px;
    
}

.signup {
    border: 2px solid #AF0E0E;
    padding: 5px;
    text-transform: uppercase;
}

.display {
    text-align: center;
}

.text-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 660px;
    background-image: url(img/Untitled-1.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.hover-btn {
    margin-bottom: 12px;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: solid 1px black;
    cursor: pointer;
}



.links a {
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
 .links a:hover {
    color: #AF0E0E;
 }

.pre-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

.content-text {
    font-style: italic;
    margin-bottom: 10px;
}

.loader {
    background-color: #AF0E0E;
    width: 400px;
    height: 2px;
}

.number {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: black;
    height: 100px;
    width: 2px;
    margin: -60px 0 0 40px;
}

.counter span {
    position: absolute;
    color: black;
    margin: 10px;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: background 0.15s ease;
}


.shop-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 80px;
}

.shop-box {
    width: 400px;
    height: 300px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 8px 11px black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
}

.shop-box a {
    color: black;
}

.shop-box i {
    width: 100%;
    margin-bottom: 15px;
    font-size: 60px;
}

.shop-box h1 {
   background-color: rgba(0, 0, 0, 0.205);
   color: #700909;
   border-radius: 5px;
   padding: 9px;
   display: inline-block;
   margin: 15px 0;
}

.shop-box p {
    font-size: 12px;
    margin-bottom: 15px;
}





.shop-box:hover {
    box-shadow: 0px 0px 20px #AF0E0E;
}

.about-box {
    margin: auto;
    width: 50%;
}

.about-p {
    margin: 20px 0;
    padding: 18px 40px;
    text-align: center;
}



